ion-avatar{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.photo-btn{
    position: relative;
    bottom: 25px;
}

h2{
    margin-bottom: 0;
}

ion-item{
    --padding-top: 15px;
}

.empty-icon{
    font-size: 200px;
    opacity: 20%;
}